body {
  font-family: $font-stack;
  font-size: $base-font-size;
  color: $text-color;
}

a {
  color: $link-color;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
}

code {
  font-family: $code-font-stack;
  font-size: $code-font-size;
}
